---
import BaseLayout from '../layouts/BaseLayout.astro';
import { LoginWrapper } from '../components/auth/LoginWrapper';

// Middleware should redirect logged-in users away from this page
---
<BaseLayout title="Login - LearnFlowAI">
  <div class="container mx-auto mt-10">
    {/* Render the LoginWrapper as the island */}
    {/* Use client:load for immediate interactivity */}
    <LoginWrapper client:load />
  </div>
</BaseLayout> 